<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="sdeConnectionString" value='Data Source=MyDBServer;Initial Catalog=SDE;Persist Security Info=True;User ID=Druidia;Password=12345;Application Name=&quot;Metadata Directory&quot;'/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
